.modal-wrapper {
    background: white;
    position:fixed;
    width: 55%;
    top:5px;
    left:25%;
    transition: all .8s;
    color: black;
}

.col-border {
    border-right: 1px solid gray;
    padding-right:10px;
}

img {
    display: block;        
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.modal {
    height: max-content;
}